<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="box">
        <div id="app">
            <input type="text" v-model="msg">
            <button @click="notify">添加</button>
            <child-component></child-component>
        </div>
        <template id="child-component">
            <ul>
                <li v-for="item in message">{{item}}</li>
            </ul>
        </template>
    </div>
    <script>
    Vue.component("child-component", {
        template: "#child-component",
        data: function() {
            return {
                message: []
            }
        },
        events: {
            "parent-msg": function(msg) {
                this.msg.push(msg)
            }
        }
    });
    new Vue({
    	el:"#app",
    	data:{
    		msg:""
    	},
    	methods:{
    		notify:function(){
    			if(this.msg.trim()){
    				this.$broadcast('parent-msg', this.msg)
    			}
    		}
    	}
    })
    </script>
</body>

</html>